    <p style="width:100%" data-value="<%= ucourse.progress %>"><strong><%= course.title %></strong> - <%= course.difficulty %> <br><%= link_to "Retourner au cours", course_path(ucourse.course), class: "btn btn-success" %>
</p>
		<progress max="100" value="<%= ucourse.progress %>" class="jquery">
			<!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
			<div class="progress-bar">
				<span style="width:100%"><%= ucourse.progress %>%</span>
			</div>
		</progress>
