<div class="container">

  <h1>Bienvenue sur votre profil !</h1>

  <div class="my-3">
    <p>Vous suivez actuellement <%= current_user.courses.count %> cours : </p>
    <p>dont <%= current_user.courses.where(difficulty: Course::DIFFICULTIES.first).count %> débutants</p>
    <p>dont <%= current_user.courses.where(difficulty: Course::DIFFICULTIES.second).count %> intermédiaires</p>
    <p>dont <%= current_user.courses.where(difficulty: Course::DIFFICULTIES.third).count %> avancés</p>
  </div>

  <div class="my-3">
    <h3>Voici vos progrès actuels :</h3>
      <ul>
        <% current_user.users_courses.each do |ucourse| %>
        <div>
          <%= render "progressbar", course: ucourse.course, ucourse: ucourse %>
          <%= link_to "Retourner au cours", course_path(ucourse.course), class: "btn btn-success mb-3" %>
        </div>
        <% end %>
      </ul>
  </div>

  <div class="my-3">
  <% if @completed_courses_count > 0 %>
    <h3>Vous avez actuellement terminé <%= @completed_courses_count %> cours !</h3>
    <ul>
      <% @completed_courses.each do |cc| %>
      <li><%= cc.course.title %></li>
      <% end %>
    </ul>
  <% else %>
    <h3>Vous n'avez pas encore terminé de cours, courage !</h3>
  <% end %>
  </div>
</div>
