<div class="container mt-5">
  <div class="row">
    <div class="my-3 col-8">
      <h1> Bonjour <%= current_user.username %></h1>
      <h2 class="title">Bienvenue sur votre page de profil !</h2>
      <hr>
      <h3>Vous suivez actuellement <strong><%= current_user.courses.count %></strong> cours</h3>
    </div>

    <!-- User profile card-->
    <div class="card-profile col-4">
      <div class="text-center mt-3">
        <% if current_user.profile_pic.attached? %>
              <%= cl_image_tag current_user.profile_pic.key, class: "avatar-large mb-3", height: 1000, width: 1000, crop: :fill %>
            <% else %>
              <%= image_tag "default_avatar.jpg", class: "avatar-large", alt: "dropdown menu"  %>
            <% end %>
        <h4><%= current_user.username %></h4>
      </div>
      <h2 class="text-center mt-3">Votre résumé</h2>
      <h4>Email</h4>
      <p><%= current_user.email %></p>
      <h4 class="title">Cours terminés</h4>
      <div class="d-flex justify-content-evenly align-items-end mb-3">
        <%= @completed_courses_easy.count %>/<%= @current_courses_easy.count %> <%= image_tag "svgs/difficulty-low.svg", class:"difficulty" %><%= @completed_courses_medium.count %>/<%= @current_courses_medium.count %> <%= image_tag "svgs/difficulty-intermediate.svg", class:"difficulty" %> <%= @completed_courses_hard.count %>/<%= @current_courses_hard.count %> <%= image_tag "svgs/difficulty-high.svg", class:"difficulty" %>
      </div>
      <hr>
      <p>Membre depuis le <%= current_user.created_at.strftime("%d/%m/%Y") %></p>
    </div>
  </div>


  <div class="row row-cols-2">
    <div class="my-3 col">
      <h3 class="title">Vos progrès actuels :</h3>
        <ul>
          <% current_user.users_courses.each do |ucourse| %>
          <div>
            <%= render "progressbar", course: ucourse.course, ucourse: ucourse %>
            <hr>
          </div>
          <% end %>
        </ul>
    </div>
    <div class="my-3 col">
      <% if @completed_courses_count > 0 %>
        <h3 class="title">Vous avez terminé <%= @completed_courses_count %> cours ! Bravo !</h3>
          <% @completed_courses.each do |cc| %>
          <p><strong><%= cc.course.title %></strong> - <%= cc.course.difficulty %> - le <%= cc.updated_at.strftime("%d/%m/%Y") %> </p>
          <% end %>
      <% else %>
        <h4 class="title">Vous n'avez pas encore terminé de cours, courage !</h4>
      <% end %>
    </div>
  </div>

</div>
