<!-- Section bannière background color -->
<div class="banner" style="background-image: url(https://res.cloudinary.com/dzqqjrcor/image/upload/v1701857288/Apprenticlic/background_banner_qejfp3.png);">
  <div style="display: flex; justify-content: space-around;">
    <div>
      <h1 class="mb-3">ApprentiClic</h1>
      <h5 class="mb-1">Devenez <strong>autonome</strong> sur vos outils numériques</h5>
      <a href="<%= courses_path %>" class="btn btn-success" style="margin-top: 10px;">Consulter les cours</a>
    </div>
    <div>
      <%= image_tag 'https://res.cloudinary.com/dzqqjrcor/image/upload/v1701857249/Apprenticlic/img-banner-homepage_adznwg.png' %>
    </div>
  </div>
</div>
<!-- Section Qu'en disent nos utilisateurs -->
<section class="users-reviews">
  <div class="container">
    <div >
      <h3 class="title-homepage">Ce qu'en disent nos apprentis</h3>
    </div>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="review" style="flex: 0 0 30%; margin: 10px 0;">
        <%# <div class="quote">“</div> %>
        <p class="review-text">“ C'est formidable que ce site existe ! Je me sens tellement plus à l'aise sur mon ordinateur “<br>
          <span class='name-review'><strong>Laura P.</strong></span></p>
      </div>
      <div class="review" style="flex: 0 0 30%; margin: 10px 0;">
        <%# <div class="quote">“</div> %>
        <p class="review-text">“ Super idée ces cours, j'ai pu m'entraîner en toute sécurité sur le site de la CAF “<br>
          <span class='name-review'><strong>Pierre E.</strong></span></p>
      </div>
      <div class="review" style="flex: 0 0 30%; margin: 10px 0;">
        <%# <div class="quote">“</div> %>
        <p class="review-text">“ Les cours que j'ai fait ont été très clairs et m'ont beaucoup aidé dans ma vie quotidienne “<br>
          <span class='name-review'><strong>Alexis D.</strong></span></p>
      </div>
    </div>
  </section>
</div>
<!-- Section description Apprenticlic -->
<div class="banner-description" style="background-image: url(https://res.cloudinary.com/dzqqjrcor/image/upload/v1701857308/Apprenticlic/background-company-description_fdl9tc.png);">
  <!-- Photo des deux fleurs -->
  <div style="position: absolute; top: -157px;margin-left: 50px;">
    <%= image_tag 'https://res.cloudinary.com/dzqqjrcor/image/upload/v1701874538/Apprenticlic/two-flowers_m5i3uv.png'%>
  </div>
  <div class="container" style="display: flex; align-items: center; height: 100%;">
    <h4 class='mb-0 title-description'>ApprentiClic a à coeur d'aider les personnes en difficulté numériquement, c'est pourquoi nous proposons une large
      gamme de cours en ligne gratuits et très simples d'utilisation avec des exercices interactifs pour vous entraîner.
      <!-- Photo des deux quotes -->
      <%= image_tag 'png/quote.png', class: 'quote-right' %>
      <%= image_tag 'png/quote.png', class: 'quote-left' %>
    </h4>
  </div>
</div>
<!-- Section des cards des cours les plus consultés -->
<div class="container mt-4">
  <div class="title-homepage">
    <h3>Les cours les plus consultés</h3>
  </div>
  <section class="card-section" style="margin-top: 25px;">
    <% @courses.limit(3).each do |course| %>
      <div class="card-product col-12 my-3 p-0">
        <% if params[:query].present? %>
        <% end %>
        <%= cl_image_tag course.photo.key, crop: :fill if course.photo.attached? %>
        <div class="card-product-infos">
          <div>
            <h3 class="title-thin"><%= course.title %></h3>
            <span class="badge rounded-pill text-bg-info">
              <p><%= course.category %></p>
            </span>
            <span class="badge rounded-pill text-bg-info">
              <p><%= course.difficulty %></p>
            </span>
          </div>
          <p><%= course.description %></p>
          <div class="card-product-footer mt-2">
            <%= link_to overview_path(course) do %>
              <button class="btn btn-success">Acceder à ce cours</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Section des cards des faux-sites -->
<div class="container">
  <div class="title-homepage">
    <h3>Mes premiers pas</h3>
  </div>
  <section class="card-section" style="margin-top: 25px;">
    <div class="card-product my-3">
      <img src="https://cdn.paris.fr/paris/2020/11/16/huge-afb361602bc8fa94c493b84e325ad9f5.jpg" alt="Card 1">
      <div class="card-product-infos">
        <h3 class="title-thin">Entraînez-vous sur la réplique du site de la CAF</h3>
        <p>Apprenez à déclarer vos ressources facilement avec notre entraînement gratuit</p>
        <div class="d-flex justify-content-end">
          <a href="<%= faux_site_path %>" class="btn btn-success" style='width: max-content;'>Plus de détails</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="footer" style="position: relative;background-image: url(https://res.cloudinary.com/dzqqjrcor/image/upload/v1701896148/Apprenticlic/img-footer2_yriomq.png);">
  <!-- Photo des trois fleurs -->
  <div style="position: absolute; bottom: 0; right: 0;">
    <%= image_tag 'https://res.cloudinary.com/dzqqjrcor/image/upload/v1701895926/Apprenticlic/tree-flowers_gznu2t.png'%>
  </div>
 <div class="footer-content">
    </div>
    <div class="footer-copyright" style="margin-left: 60px;">
      <p>&copy; 2023 Cours informatique en ligne</p>
    </div>
  </div>
