<!-- Section bannière background color -->
<div class="banner" style="background-image: url(<%= image_path 'png/background_banner.png' %>);">
  <div style="display: flex; align-items: center; justify-content: space-around;">
    <div>
      <h4>ApprentiClic vous aide à devenir <strong>autonome</strong> avec des outils numériques</h4>
      <p>Entraînez-vous en toute tranquillité avec nos cours adaptés à tout niveau</p>
      <a href="<%= courses_path %>" class="btn btn-success">Consulter les cours</a>
    </div>
    <div>
      <%= image_tag 'png/img-banner-homepage.png' %>
    </div>
  </div>
</div>
<!-- Section Qu'en disent nos utilisateurs -->
<div class="container">
  <section class="users-reviews">
    <div class="title">
      <h3>Ce qu'en disent nos apprentis</h3>
    </div>
    <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
      <div class="review" style="flex: 0 0 30%; margin: 10px;">
        <div class="quote">“</div>
        <p class="review-text">C'est formidable que ce site existe ! Je me sens tellement plus à l'aise sur mon ordinateur<br>
          <strong>Laura P.</strong></p>
      </div>
      <div class="review" style="flex: 0 0 30%; margin: 10px;">
        <div class="quote">“</div>
        <p class="review-text">Super idée ces cours, j'ai trouvé le cour parfait<br>
          <strong>Pierre E.</strong></p>
      </div>
      <div class="review" style="flex: 0 0 30%; margin: 10px;">
        <div class="quote">“</div>
        <p class="review-text">Les cours que j'ai fait ont été très clairs et m'ont beaucoup aidé dans ma vie quotidienne<br>
          <strong>Alexis D.</strong></p>
      </div>
    </div>
  </section>
</div>
<!-- Section description Apprenticlic -->
<div>
<img src="two-flower.png" alt="">
</div>
<div class="banner" style="background-image: url(<%= image_path 'png/background-company-description.png' %>);">
  <div class="container">
    <h4>ApprentiClic a à coeur d'aider les personnes en difficulté numériquement, c'est pourquoi nous proposons une large
      gamme de cours en ligne très simples d'utilisation avec des exercices interactifs pour vous entraîner.
    </h4>
  </div>
</div>
<!-- Section Pourquoi choisir Apprenticlic -->
<div class="container">
  <section class="company-subject">
    <h3>Pourquoi choisir ApprentiClic ?</h3>
    <p>Avec ApprentiClic, n'ayez plus peur de faire de fausses manipulations qui pourraient avoir de graves conséquences.</p>
    <p>Avec ApprentiClic, les cours sont gratuits.</p>
    <p>Choisissez le cour qui vous convient grâce à des cours adaptés à tous les niveaux.</p>
</section>

<!-- Section des cards des cours les plus consultés -->
<section class="card-section">
  <% @courses.limit(3).each do |course| %>
    <div class="card-product my-3">
      <% if params[:query].present? %>
      <% end %>
      <%= cl_image_tag course.photo.key, crop: :fill if course.photo.attached? %>
      <div class="card-product-infos">
        <h5><%= course.title %></h5>
        <p class="reduced-font-size-and-margin">Mis à jour le 30/11/2023</p>
        <p><%= course.description %></p>
        <div class="card-product-footer mt-2">
          <p></p>
          <p><%= course.comments.count %> commentaires</p>
          <p>|</p>
          <p><%= course.category %></p>
          <p>|</p>
          <p><%= course.difficulty %></p>
          <%= link_to overview_path(course) do %>
            <button class="btn btn-success">Acceder à ce cours</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- Section des cards des faux-sites -->
<div class="container">
  <h3>Mes premiers pas</h3>
  <div class="card-product my-3">
    <img src="https://cdn.paris.fr/paris/2020/11/16/huge-afb361602bc8fa94c493b84e325ad9f5.jpg" alt="Card 1">
    <div class="card-product-infos">
      <h4>Entraînez-vous sur la réplique du site de la CAF</h4>
      <p class="reduced-font-size-and-margin">Mis à jour le 30/11/2023</p>
      <p>Apprenez à déclarer vos ressources facilement avec notre entraînement gratuit</p>
      <a href="#" class="button">Plus de détails</a>
    </div>
  </div>
  <div class="card-product my-3">
    <img src="https://www.impots.gouv.fr/sites/default/files/2023-10/bloc_impots_gouv.svg" alt="Card 1">
    <div class="card-product-infos">
      <h4>Entraînez-vous sur la réplique du site des impôts</h4>
      <p class="reduced-font-size-and-margin">Mis à jour le 30/11/2023</p>
      <p>Apprenez à faire vos déclarations facilement avec notre entraînement gratuit</p>
      <a href="#" class="button">Plus de détails</a>
    </div>
  </div>
</div>
</div>
<!-- Footer -->
<div class="footer" style="background-image: url(<%= image_path 'png/img-footer.png' %>);">
<div class="footer-content">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2023 Cours informatique en ligne</p>
  </div>
</div>
