  <div class="row justify-content-center mt-5" data-search-courses-target="list">
        <% if (params[:query].present? || params[:difficulty].present? || params[:category].present?) && courses.any? %>
          <h2 class="text-center">Voici les résultats pour votre recherche</h2>
        <% end %>
        <% if courses.none? %>
            <h2 class="text-center"><em>Nous sommes désolé, nous n'avons pas trouvé de cours correspondant</em></h2>
        <% else %>
          <% courses.each do |course| %>
            <div class="card-product col-12 my-3 p-0">
              <%= cl_image_tag course.photo.key, crop: :fill if course.photo.attached? %>
              <div class="card-product-infos">
              <div>
                <h3 class="title-thin"><%= course.title %></h3>
                  <span class="badge rounded-pill text-bg-info"><p><%= course.category %></p></span>
                  <span class="badge rounded-pill text-bg-info"><p><%= course.difficulty %></p></span>
              </div>
                <p><%= course.description %></p>
                <div class="card-product-footer mt-2">
                  <%= link_to overview_path(course) do %>
                  <button class="btn btn-success"><strong>Acceder à ce cours >></strong></button>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
