<div class="background-banner" style="background-image: url(<%= image_path 'png/background_banner.png' %>);">
    <div class="container mt-5" data-controller="search-courses">
      <h1 class="title mt-5">Catalogue de nos <span id="cours">cours</span></h1>

      <!--section barre de recherche-->
      <div class="row justify-content-center" >
        <div class="col-12 my-3">
          <%= form_with url: courses_path, method: :get, html: {class:
            "mb-4", data: {search_courses_target: "form"}} do %>
            <div class="d-flex justify-content-evenly form-holder">
              <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Recherchez un mot-clé",
                  id: "form-control-index",
                  data: {action: "keyup->search-courses#update", search_courses_target: "input"}
              %>
              <%= select_tag :category, options_for_select(Course::CATEGORIES, params[:category]), class:"form-select text-center", prompt: "Sélectionnez une catégorie", data: {action: "change->search-courses#update", search_courses_target: "category"} %>
              <%= select_tag :difficulty, options_for_select(Course::DIFFICULTIES, params[:difficulty]), class:"form-select text-center", prompt: "Sélectionnez une difficulté" , data: {action: "change->search-courses#update", search_courses_target: "difficulty"} %>
              <%= button_tag(class:"btn form-button") do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>


    </div>
  </div>
<div class="container">
   <% if @courses.none? %>
          <h2 class="text-center"><em>Nous sommes désolés, nous n'avons pas trouvé de cours correspondant</em></h2>
        <% else %>
          <%= render "list", courses: @courses %>
      <% end %>
</div>
<!-- Footer -->
<div class="footer" style="background-image: url(https://res.cloudinary.com/dzqqjrcor/image/upload/v1701857218/Apprenticlic/img-footer_rqnt7x.png);">
<div class="footer-content">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2023 Cours informatique en ligne</p>
  </div>
</div>
