<div class="container mt-5" data-controller="search-courses">
  <h1 class="title">Catalogue de nos cours</h1>

  <!--section barre de recherche-->
  <div class="row justify-content-center" >
    <div class="col-12 my-3">
      <%= form_with url: courses_path, method: :get, html: {class:
        "mb-4", data: {search_courses_target: "form"}} do %>
        <div class="d-flex justify-content-evenly form-holder">
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Recherchez un mot-clé",
              id: "form-control-index",
              data: {action: "keyup->search-courses#update", search_courses_target: "input"}
          %>
          <%= select_tag :category, options_for_select(Course::CATEGORIES, params[:category]), class:"form-select text-center", prompt: "Sélectionnez une catégorie", data: {action: "change->search-courses#update", search_courses_target: "category"} %>
          <%= select_tag :difficulty, options_for_select(Course::DIFFICULTIES, params[:difficulty]), class:"form-select text-center", prompt: "Sélectionnez une difficulté" , data: {action: "change->search-courses#update", search_courses_target: "difficulty"} %>
          <%= button_tag(class:"btn form-button") do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @courses.none? %>
      <h2 class="text-center"><em>Nous sommes désolé, nous n'avons pas trouvé de cours correspondant</em></h2>
    <% else %>
      <%= render "list", courses: @courses %>
  <% end %>
</div>
