<div class="banner rot-180" style="background-image: url(https://res.cloudinary.com/dzqqjrcor/image/upload/v1701879772/Apprenticlic/wavecover_courses_xw2by8.png);">
  <div class="container rot-180">
    <div class="col-10">
      <h1 class="underline-thin text-white"><strong><%= @course.title %></strong></h1>
      <p><%= @course.description %></p>
    </div>
      <%= image_tag 'png/tree-flowers.png', class:"flower-course" %>
  </div>
</div>

<div class="container mb-3">
  <% if user_signed_in? && current_user.users_courses.any? { |uc| uc.course == @course } %>
    <div>
      <h3 class="title">Vous suivez déjà ce cours</h3>
      <%= link_to "Cliquez ici pour reprendre", course_path(@course), class: "btn btn-success mb-3" %>
    </div>
  <% else %>
    <div>
      <h3 class="title">Vous êtes prêt ? On se lance ?</h3>
      <%= simple_form_for [@course, @uc] do |f|%>
      <%= f.submit "Commencer le cours !", class: "btn btn-success mb-3" %>
    </div>
    <% end %>
  <% end %>
  <h3 class="my-3 title">Sommaire</h3>
  <ol>
    <% @chapters.each do |chapter| %>
     <li><p class="course-content"><%= chapter.title %></p></li>
    <% end %>
  </ol>
  <div class="my-4">
    <h3 class="title">Auto-evaluation : petit rappel</h3>
    <p class="course-content">A la fin de chacun des chapitre affiché ci-dessus vous aurez un petit bouton orange disant <em class="underline-thin">"J'ai compris"</em></p>
    <p class="course-content"> Ce bouton sers à <strong> marquer votre progression</strong>, c'est à <strong>vous</strong> d'évaluez si vous avez bien compris un chapitre du cours ! <br> Vous pourrez retrouver votre progression sur votre page de profil après avoir créé un compte</p>
  </div>

  <div data-controller="toggle-comments">
    <button class="btn btn-info" data-action="click->toggle-comments#fire">Voir les commentaires de ce cours</button>
    <div data-toggle-comments-target="toggable" class="d-none mt-3">
      <% if @course.comments.any? %>
        <div class="my-3 mx-5">
          <h4 class="title-thin">Commentaires</h4>
          <% @course.comments.each do |comment| %>
            <div class="my-3">
              <p class="course-content"><strong><%= comment.user.username %></strong> - le <%= comment.created_at.strftime("%d/%m/%Y") %></p>
              <p class="course-content"><%= comment.content %></p>
            </div>
          <% end %>
        </div>
        <% else %>
        <p class="course-content"><em>Ce cours n'a pas encore de commentaires</em></p>
      <% end %>
    </div>
  </div>
</div>
