<%# SHOW commune pour le cour de la capture d'écran et envoyer un email avec Gmail %>
<%# Section image du cour %>
  <div class="image-cour"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @course.cover.key, crop: :fill, gravity: "auto", width: 1920, height: 1080 %>')">
    <div class="container">
      <h1><strong><%= @course.title %></strong></h1>
      <h2>Pour rappel avant de commencer :</h2>
      <p><%= @course.description %></p>
    </div>
  </div>
<div class="container">
  <%# Section chapitre du cour %>
  <% @chapters.each do |chapter| %>
    <% users_chapter = current_user.users_chapters.where(chapter_id: chapter).first %>
    <h4><%= chapter.title %></h4>
    <p><%= chapter.content.html_safe %></p>
    <div>
      <%= cl_image_tag chapter.photo.key, height: 300, width: 800, crop: :fit if chapter.photo.attached?%>
      <%= cl_video_tag chapter.video.key, height: 300, width: 400, crop: :fill, controls: true if chapter.video.attached?%>
    </div>
    <%# Section bouton j'ai compris pour faire évoluer la barre de progression %>
    <%= turbo_frame_tag "done_chapter_#{chapter.id}" do %>
      <%= link_to users_chapter_path(users_chapter), data: { turbo_method: :patch } do %>
          <button class="btn btn-success my-3" <%= 'disabled' if users_chapter.done %>><%= users_chapter.done? %></button>
        <% end %>
      <% end %>
      <hr>
    <% end %>
    <%# Section encart commentaire %>
    <div data-controller="toggle-comments">
        <button class="btn btn-info" data-action="click->toggle-comments#fire">Voir les commentaires</button>
        <div data-toggle-comments-target="toggable" class="d-none mt-3">
          <div class="my-3">
            <h5>Commentaires</h5>
            <% @course.comments.each do |comment| %>
              <%= render "comments/comment", comment: comment, answer: @answer %>
              <hr>
            <% end %>
            <% if @course.comments.none? %>
              <p><em>Ce cours n'a pas encore de commentaires</em> </p>
            <% end %>
          </div>
        </div>
        <%= render "comments/form", course: @course, comment: @comment %>
    </div>
  </div>
