<%# SHOW commune pour le cour de la capture d'écran et envoyer un email avec Gmail %>

<div class="container">
  <%# Section image du cour %>
  <div>
    <%= cl_image_tag(@course.cover.key, class: "image-cour") if @course.cover.attached?%>
  </div>

  <%# Section titre et mini-descriptif du cour %>
  <div>
    <h1><strong><%= @course.title %></strong></h1>
      <p><%= @course.description %></p>
  </div>

  <%# Section chapitre du cour %>
  <% @chapters.each do |chapter| %>
    <% users_chapter = current_user.users_chapters.where(chapter_id: chapter).first %>
    <h4><%= chapter.title %></h4>
    <p><%= sanitize chapter.content %></p>
    <%= cl_image_tag chapter.photo.key, height: 300, width: 400, crop: :fill if chapter.photo.attached?%>
    <% if users_chapter.done %>
    
  <%# Section bouton j'ai compris pour faire évoluer la barre de progression %>
     <button class="btn btn-success disabled">Bravo!</button>
    <% else %>
      <%= link_to users_chapter_path(users_chapter), data: { turbo_method: :patch} do %>
        <button class="btn btn-success">J'ai compris !</button>
      <% end %>
    <% end %>
  <% end %>

<%# Section encart commentaire %>
  <div class="flex flex-col my-3 w-full p-3 lg:max-w-3xl">
    <h2 class="text-left w-full text-md font-extrabold">Commentaires </h2>
    <div class="AddComment__AddCommentStyled-zwnbey-0 jiWEeD">
      <textarea role="textbox" placeholder="Qu'en pensez-vous ?"></textarea>
      <button class="btn btn-success">Envoyer</button>
    </div>
  </div>

</div>
