<%# SHOW commune pour le cour de la capture d'écran et envoyer un email avec Gmail %>

<div class="container">
  <%# Section image du cour %>
  <div>
    <%= cl_image_tag(@course.cover.key, class: "image-cour") if @course.cover.attached?%>
  </div>

  <%# Section titre et mini-descriptif du cour %>
  <div>
    <h1><strong><%= @course.title %></strong></h1>
      <p><%= @course.description %></p>
  </div>

  <%# Section chapitre du cour %>
  <% @chapters.each do |chapter| %>
    <% users_chapter = current_user.users_chapters.where(chapter_id: chapter).first %>
    <h4><%= chapter.title %></h4>
    <p><%= sanitize chapter.content %></p>
    <%= cl_image_tag chapter.photo.key, height: 300, width: 400, crop: :fill if chapter.photo.attached?%>
    <% if users_chapter.done %>

  <%# Section bouton j'ai compris pour faire évoluer la barre de progression %>
     <button class="btn btn-success disabled">Bravo!</button>
    <% else %>
      <%= link_to users_chapter_path(users_chapter), data: { turbo_method: :patch} do %>
        <button class="btn btn-success">J'ai compris !</button>
      <% end %>
    <% end %>
  <% end %>

<%# Section encart commentaire %>

  <div class="my-5">
    <h2>Commentaires</h2>
    <% @course.comments.each do |comment| %>
      <div class="my-3">
        <p><strong><%= comment.user.username %></strong> - le <%= (comment.created_at.day) %> / <%= comment.created_at.month %>/ <%= comment.created_at.year %></p>
        <p><%= comment.content %></p>
          <div class= "container mx-5">
            <% comment.answers.each do |answer| %>
              <p><strong><%= answer.user.username %></strong> - le <%= (answer.created_at.day) %> / <%= answer.created_at.month %>/ <%= answer.created_at.year %></p>
             <p><%= answer.content %></p>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%= simple_form_for [@course, @comment] do |f|%>
      <h6>Laisser un commentaire</h6>
    <%= f.input :content, label: false%>
    <%= f.submit "Commenter", class: "btn btn-success mb-5" %>
    <% end %>
  </div>

</div>
